<link rel="stylesheet" type="text/css" href="stylesheet.css">

$color: red;

.line{
  background-color: $color;
}

button{
  background-color: $color;
}

#name{
  background-color: $color;
}

.about{
  background-color: $color;
}
